/* ## Typography
--------------------------------------------- */

body {
	background-color: $color-default-white;
	color: $color-default-black;
	font-family: $base-font-family;
	font-size: $base-font-size;
	font-weight: $base-font-weight;
	line-height: $base-line-height;
	overflow-x: hidden;
}

p {
	margin: 0 0 $spacer--m;
}

a {
	text-decoration: underline;

	&:active,
	&:focus,
	&:hover {
		text-decoration: none;
	}
}

hr {
	border-bottom: $color-default-black 1px solid;
	border-left: 0;
	border-right: 0;
	border-top: 0;
	margin: $spacer--m 0;
}
